<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

  <session-factory>
  	<!-- 
    <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
    <property name="hibernate.cache.use_query_cache">true</property>
    <property name="hibernate.cache.use_second_level_cache">true</property>
  	 -->
 	<property name="hibernate.show_sql">true</property>

	<!-- 
	 -->
  	<property name="hibernate.hbm2ddl.auto">update</property>
	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  	
  	<property name="hibernate.jdbc.batch_size">0</property>

	<mapping class="at.pfadfindergallneukirchen.quest.dbo.Gruppe"/>
	<mapping class="at.pfadfindergallneukirchen.quest.dbo.Person"/>
	<mapping class="at.pfadfindergallneukirchen.quest.dbo.Quest"/>
	<mapping class="at.pfadfindergallneukirchen.quest.dbo.Lauf"/>
	<mapping class="at.pfadfindergallneukirchen.quest.dbo.Teilnehmer"/>

  </session-factory>
  
</hibernate-configuration>
