<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<span wicket:id="navigation"></span>
<h1>Lauf erstellen</h1>
Quest: <span wicket:id="questName">Quest</span><br>
Anzahl Gruppen: <span wicket:id="anzahlGruppen">2</span> - 
Anzahl Teilnehmer: <span wicket:id="anzahl">2</span>
<p><span wicket:id="error">Errors</span></p>

<form wicket:id="form">
	<span wicket:id="gruppen">
	</span>
	
	<span wicket:id="personen">
	</span>
	
	<input type="password" wicket:id="passwort"></input>
	
	<input type="submit" value="Lauf erstellen"></input>
</form>
</body>
</html>