<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<table>
	<thead>
		<tr>
			<td>Quest</td>
			<td>Anzahl Personen</td>
			<td>Punkte</td>
		</tr>
	</thead>
	<tbody>
		<tr wicket:id="questRow">
			<td><a wicket:id="bearbeiten"><span wicket:id="name"></span></a></td>
			<td><span wicket:id="anzahlPersonen"></span></td>
			<td><span wicket:id="punkte"></span></td>
		</tr>
	</tbody>
</table>
<br/><br/>
<a wicket:id="neu">Neuen Quest erstellen</a>
</body>
</html>